body,
html {
  background-color: rgb(229, 215, 124);
}

h2 {
  text-align: center;
  font: 17px Helvetica;
}

div {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  width: 60%;
  display: table;
  margin: 30px auto;
}

form label {
  text-align: left;
  display: block;
}

form label input {
  font: 18px Helvetica, Arial, sans-serif;
  align-items: center;
  box-sizing: border-box;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
}

form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}



form label span {
  color: #000000;
  font: 18px Helvetica, Arial, sans-serif;
  font-weight: bold;
}

form input[type="submit"] {
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #1aaf75;
  color: #fff;
  padding: 16px 40px;
}

form input[type="submit"]:hover {
  background: #0a7049;
}

div {
  margin: auto;
  margin-top: 50px;
  width: 35%;
  background-color: rgb(165, 206, 220);
  padding: 10px 10px;
}

h1 {
  text-align: center;
  font-size: 30px;
}
h1 a {
  text-decoration: none;
}

.submitButton {
  width: 50%;
  margin: 0px 84px;
}

h2 {
  font-weight: bold;
}
